::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 1px 0px 0px rgba(216, 211, 211, 0.548);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #464646;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

.Top-header {
    width: 100vw;
    display: flex;
    background-color: #ff09de;
    position: relative;
}

    .Top-header .Top-header-title-1 a, .Top-header-title-2 a {
        display: inline-block;
        margin: 3px;
        margin-left: 15px;
        color: rgb(238, 238, 238);
        font-weight: 600;
        font-size: small;
    }

.Top-header-title-2 {
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.header-mid {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.middle-header {
    width:100%;
    display: flex;
    position: relative;
    top: 2vw;
    
}

    .middle-header .logo {
        position: relative;
        margin: 5px;
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }

    .middle-header .search-box {
        width: 60%;
        margin-left: 8%;
        margin-top: 10px;
    }

.middle-header .search-box label {
    width: 100%;
    position: relative;
    display: flex;
}

    .middle-header .search-box label .search {
        width: 100%;
        outline: none;
        border: 3px solid #1d90d3c2;
        border-right: none;
        padding-left: 10px;
        color: #383838fd;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.247);
    }

.search:focus {
    color: #000;
    box-shadow: 0 0 5px rgba(199, 223, 236, 0.692);
}

input::placeholder {
    color: #383838fd;
    font-size: small;
    font-weight: 400;
}

.serach-result {
    display: none;
    width: 60%;
    position: absolute;
    left: 0vh;
    margin-left: 19.5%;
    background-color: #1d90d3f5;
    z-index: 100;
    color: rgb(255, 254, 254);
}

    .serach-result li {
        margin: 10px;
    }

        .serach-result li:hover {
            color: #000;
            background-color: rgb(206, 206, 206);
            
        }

.middle-header .search-box button {
    width: 100px;
    height: 30px;
    outline: none;
    font-weight: 800;
    background-color: #1d90d3c2;
    border: none;
    color: white;
}

.middle-header-rigth {
    max-width: 15%;
    margin: 10px;
    margin-left: 5%;
    position: relative;
}

    .middle-header-rigth i {
        width: 30px;
        height: 30px;
        background-color: rgb(216, 216, 216);
        padding: 5px;
        border-radius: 50%;
        font-size: 1rem;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.26);
    }

    .middle-header-rigth a {
        color:black;
        
        margin-left: 15px;
    }
.navegation {
    width: 100%;
    position: relative;
    top:2.2vw;
    background-color:darkblue;
    padding: 10px;
    overflow:hidden;
}

    .navegation nav ul {
        position: relative;
        left: 30%;
    }

        .navegation nav ul li {
            display: inline-block;
            margin: 5px;
            margin-left: 30px;
        }

    .navegation ul li a {
        color: floralwhite;
        text-transform: uppercase;
        font-size: 0.9rem;
       
    }
.home-mid-contain {
    position: relative;
    top: 9vw;
    display: flex;
}
    .home-mid-contain .CATAGORIES-navs {
        width: 370px;
        height: 80vh;
        overflow: hidden;
        position: relative;
        
    }
    .home-mid-contain .CATAGORIES-nav, .CATAGORIES-nav {
        width: 290px;
        height: 81vh;
        background-color: rgba(247, 245, 245, 0.753);
        overflow: hidden;
        position: fixed;
        z-index: 1000;
        box-shadow: 0px 2px 5px 0px rgba(25, 25, 25, 0.26);
    }
.Catagories
{
    position:absolute;
    left:-67vh;
    letter-spacing:3px;
}
.home-mid-contain .CATAGORIES-nav li {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}
            .home-mid-contain .CATAGORIES-nav li:hover {
                background-color: rgba(160, 183, 233, 0.459);
            }

        .home-mid-contain .CATAGORIES-nav a, .CATAGORIES-nav a {
            color: black;
            padding: 5px;
            font-size: 0.8rem;
            font-weight:800;
            
        }
.img-slider {
    position: relative;
    left:-1vw;
    margin:5px;
    width: 90%;
    height: 400px;
    background: rgba(75, 75, 75, 0.062);
    border-radius:4px;
    text-align:center;
}

    .img-slider .slider {
        z-index: 1;
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 53%);
    }

        .img-slider .slider.active {
            clip-path: circle(150% at 0 54%);
            transition: 2s;
            transition-property: clip-path;
        }

        .img-slider .slider img {
            z-index: 1;
            width: 100%;
            height:400px;
            border-radius: 4px;
        }

        .img-slider .slider .info {
            position: absolute;
            top: 0;
            padding: 20px 30px;
        }

            .img-slider .slider .info h2 {
                color: rgb(0, 0, 0);
                font-weight: 900;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 10px;
            }

            .img-slider .slider .info p {
                color: rgb(61, 61, 61);
                background-color: rgba(159, 159, 197, 0.315);
                font-size: 1rem;
                padding: 10px;
                border-radius: 5px;
                width: 60%;
            }

    .img-slider .nav {
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

        .img-slider .nav .btn {
            background: rgba(32, 32, 32, 0.445);
            width: 7px;
            height: 7px;
            border-radius: 50%;
            cursor: pointer;
            margin: 5px;
        }

            .img-slider .nav .btn.active {
                background: rgb(255, 255, 255);
                box-shadow: 0 0 2px rgb(139, 139, 139);
            }
.service-item
{
    position:relative;
    top:26vw;
    
}
    .service-item img {
        float: left;
        width: 330px;
        height: 160px;
        margin: 10px;
        margin-left: 50px;
        border-radius: 5px;
       
    }
    .best_selles {
        width: 47%;
        height: 300px;
        margin: 10px;
        margin-top:20px;
        position: relative;
        top: 10vw;
        left:20vw;
    }

    .best_selles h2, .fashion-collection h2 {
        font-size: 1.4rem;
        font-weight: bolder;
    }

    .best_selles p, .fashion-collection p {
        font-size: 0.7rem;
        font-weight: bolder;
        letter-spacing: 0px;
    }

.iteam-slider {
    position: relative;
    
    display: flex;
}

    .iteam-slider .best-item {
        width:190px;
        height: 210px;
        box-shadow: 0px 0px 5px 0px rgba(168, 165, 165, 0.404);
        margin: 8px;
        margin-top:10px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        text-align:center;
    }
         .best-item a{
            color:black;
        }
        .iteam-slider .best-item:hover {
            box-shadow: 5px 5px 5px 5px rgba(168, 165, 165, 0.404);
        }
        .iteam-slider .best-item img {
            width: 130px;
            height: 100px;
            margin: 10px;
            margin-left: 15px;
        }

            .iteam-slider .best-item img:hover {
                transform: scale(1.1);
                transition: 2s transform;
            }

        .iteam-slider .best-item h3 {
            font-size: 0.8rem;
            text-align: center;
            margin-top:3px;
        }

        .iteam-slider .best-item p {
            font-size: 0.6rem;
            text-align: center;
            margin-top: 3px;
        }

        .iteam-slider .best-item h2 {
            font-size: 0.8rem;
            text-align: center;
            margin-top: 3px;
        }

.detailes-service {
    width: 77%;
    height: 300px;
    position: relative;
    top: 10vw;
    left: 20vw;
    box-shadow: 0px 0px 5px 0px rgba(168, 165, 165, 0.404);
    padding: 40px;
    padding-top:70px;
    margin: 20px;
    background-image: url(https://www.sgastro.org/assets/imgs/bgs/sgc-bg_3.jpeg);
    background-size:cover;
    border-radius:5px;
    
}
    .detailes-service h5 {
        margin: 10px;
        font-size: 1rem;
        color: rgba(100, 98, 98, 0.979);
    }
    .detailes-service p {
        width: 400px;
        margin: 10px;
        font-size: .9rem;
        color: rgba(51, 51, 51, 0.979);
       
    }
.footer
{
    width:75%;
    position:relative;
    top:19vw;
    left:22vw;
    background-color:floralwhite;
}
.emergency {
    width: 100%;
    height:120px;
    background-color: rgba(206, 45, 125, 0.979);
    overflow:hidden;
    padding:30px;
    padding-left:60px;
    text-align:center;
    border-radius:4px;

}
.emergency img {
    width: 270px;
    height: 270px;
    position:absolute;
    left:57vw;
    top:-9.8vw;
}
.emergency-title h5
{
   
    font-size:1.1rem;
    color:white;
}
.emergency-title button
{
    width:130px;
    height:35px;
    text-align:center;
    font-size:.9rem;
    outline:none;
    border:none;
    border-radius:5px;
    margin:10px;
    color:deeppink;
    font-weight:900;
    cursor:pointer;
}
.footer-info
{
   width:100%;
   height:300px;
   background-color:aliceblue;
   display:flex;

}
.item {
    width: 200px;
    margin: 20px;
    margin-left: 50px;
    margin-top: 70px;
}
    .item p {
        margin: 10px;
        font-size: 0.9rem;
    }
    .item h4 {
        font-size: 1.1rem;
        margin: 10px;
        margin-bottom: 20px;
    }

.copy-write
{
    text-align:center;
    padding:10px;
    font-size:0.8rem;
}